<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<epp xmlns="urn:ietf:params:xml:ns:epp-1.0">
  <command>
    <info>
      <domain:info xmlns:domain="urn:ietf:params:xml:ns:domain-1.0">
        <domain:name>xn--j11av3u.xn--hxt814e</domain:name>
      </domain:info>
    </info>
    <clTRID>CLI-DOMINFO-IDN-20251008</clTRID>
  </command>
</epp>
